<!DOCTYPE html>
<html>
  <head>
    <title>URM Flask Application</title>
  </head>

  <body style="margin-bottom: 1000px">
    {% include "nav.html" %}
    <div class="container text-center lead">
      <div class='lead'>
          <h2>Welcome to URM Application</h2>
      </div>
  
      <div class="img-fluid mb-5 object-fit-contain border rounded">
        <img src="https://urm-flask-project--karthikeyajanja.repl.co/static/success.jpeg" height = 500px width = 100%>
      </div>
  
      <div class="lead text-center mb-3">
        <h3>About</h3>
        <p class="mb-3">If you're looking for easily accessible resources for your classroom, then you're in the right place. Whether you just got new tablets, Chromebooks, or computers -- or you're just looking to fill some curricular gaps -- it can be pricey to connect students with quality content. That's why we've hand-curated these awesome free apps and websites that get high marks from our editors for engagement and pedagogy. You'll find picks for each of the core subjects and all grade levels, so whether you're teaching elementary school, middle school, or high school or focusing on arts, math, ELA, science, or social studies, you're sure to find something. If you've got a little more time on your hands, try digging into our full database.</p>
      </div>
      <div class="mb-3">
        <p>{% include "footer.html" %}</p>
      </div>
    </div>
    
  </body>
</html>